<div class="landingpage">
<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading" style="font-size: 60px;">Dal Adamson</h1>
            <br>
            <p class="lead">
              <a href="/done" class="btn btn-lg btn-landing">What I've Done</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p class="lead">appreciate subtle beauty</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>