<!DOCTYPE html>
<html>
<head>
  <title>Dma</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
</head>
<%= yield %>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</html>
